{% extends 'base.html'  %}

{% block content %}

<h1>THIS IS THE Home PAGE</h1>
<br>
<h1>10 QUOTES ABOUT TRAVEL YOU WOULD DELIGHTED TO READ</h1>
<br>
<p>
1.“Travel is an investment in yourself.”<br>
2.“The journey of a thousand miles begins with a single step.”<br>
3.“Remember that happiness is a way of travel, not a destination.”<br>
4.“The world is a book and those who do not travel read only one page.”<br>
5. “Travel is the only thing you buy that makes you richer.”<br>
6.“The goal is to die with memories not dreams.”<br>
7. “Sandy Toes sunkissed nose.”<br>
8.“Travel. Your money will return. Your time won’t.”<br>
9.“Collect Moments, Not Things.”<br>
10. “Live life with no excuses, travel with no regret.”<br>
</p>

{% endblock %}
